* {
    margin: 0;
}

body {
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-wrap: break-word;
    font-family: 'Trebuchet MS', sans-serif;
    background-color: skyblue;
}

a {
    color: black;
}

header {
    background-color: skyblue;
    display: flex;
    flex-direction: row;
    min-width: 100vw;
    align-items: center;
}

header *:not(div) {
    margin: 0.5rem;
}

header #title {
    font-size: 2rem;
}

header #title a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

header #headerfill {
    flex-grow: 1;
}

header #buttonrow a {
    transition: 0.2s;
    font-size: 1rem;
    padding: 0.5rem;
    margin-left: 0;
    text-decoration: none;
    background-color: #10a9eb;
    border: 1.5px solid #0f90c7;
    border-radius: 8px;
}

header #buttonrow a:hover {
    transition: 0.2s;
    padding: 0.6rem;
}

main {
    flex-grow: 1;
    padding: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: #e2f8ff;
}

main #tagline {
    font-size: 1.1rem;
}

main h2 {
    margin-bottom: 0.3rem;
    margin-top: 0.3rem;
}

footer {
    background-color: skyblue;
    display: flex;
    flex-direction: row;
    min-width: 100vw;
    align-items: center;
}

footer *:not(a) {
    margin: 0.5rem;
    margin-right: 1rem;
}

footer #contact {
    flex-grow: 1;
}

footer img {
    height: 2rem;
}

#smallform #formcontent {
    font-size: 1.3rem;
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: 1rem;
    row-gap: 0.6rem;
    align-items: center;
}

#smallform #formcontent div {
    display: contents;
}

#smallform #formcontent label {
    justify-self: left;
}

#smallform #formcontent input {
    font-size: 1.2rem;
    padding: 0.2rem;
    border: 1.5px solid #10a9eb;
    border-radius: 8px;
    width: 35%;
}

form #conditions {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    padding: 0.2rem;
    margin-top: 1rem;
    border-radius: 8px;
}

form #conditions a {
    margin-right: 0.8rem;
}

form #conditions input {
    width: 1.4rem;
    height: 1.4rem;
    border: 1.5px solid #10a9eb;
    border-radius: 4px;
    cursor: pointer;
}

#smallform input[type="submit"] {
    transition: 0.2s;
    font-size: 1.2rem;
    margin-top: 1rem;
    padding: 0.5rem;
    border: 1.5px solid #10a9eb;
    border-radius: 8px;
    cursor: pointer;
}

#smallform input[type="submit"]:hover {
    transition: 0.2s;
    padding: 0.6rem;
}

#passwordsecurity {
    font-size: 1.1rem;
    margin-top: 0.8rem;
}