{%load static%}
{%load i18n%}
{%trans "Gallery" as subtitle%}

<!DOCTYPE html>
<html>
{%include "diarytrove/subtemplates/head.html"%}

<body>
{%include "diarytrove/subtemplates/header.html" with button_create=True button_home=True%}

<main>
    <form action="{%url 'gallery'%}" method="get" id="search-form">
        <input type="text" id="searchbar" name="s" placeholder="{%trans 'Search query'%}" {%if request.GET.s%}value="{{request.GET.s}}"{%endif%}>
        <input type="submit" id="submit-search" value="{%trans 'Search'%}">
    </form>
    {%if request.GET.s%}<p id="search-query"><b>{%trans "Results for"%} <i>{{request.GET.s}}</i></b></p>{%endif%}
    <div class="line"></div>
    <div id=memories-previews>
        {%for memory in memories%}
            {%include "diarytrove/subtemplates/memory_preview.html"%}
        {%endfor%}
    </div>
</main>

{%include "diarytrove/subtemplates/footer.html"%}
</body>
</html>