{% load static %}
{% load i18n %}
{%trans "Home" as subtitle%}

<!DOCTYPE html>
<html>
{%include "diarytrove/subtemplates/head.html"%}

<body>
{%include "diarytrove/subtemplates/header.html" with button_preferences=True button_admin=True button_logout=True%}

<main>
    <div id="buttonlinks">
        <a href="{%url 'memory_create'%}"><b>{%trans "Create new memory"%}</b></a>
        <a href="{%url 'gallery'%}"><b>{%trans "See memory gallery"%}</b></a>
    </div>
</main>

{%include "diarytrove/subtemplates/footer.html"%}
</body>
</html>