{% load static %}
{% load i18n %}
{%trans "Home" as subtitle%}

<!DOCTYPE html>
<html>
{%include "diarytrove/subtemplates/head.html"%}

<body>
{%include "diarytrove/subtemplates/header.html" with button_preferences=True button_admin=True button_logout=True%}

<main>
    <div id="buttonlinks">
        <a href="{%url 'memory_create'%}"><b>{%trans "Create new memory"%}</b></a>
        <a href="{%url 'gallery'%}"><b>{%trans "See memory gallery"%}</b></a>
    </div>

    {%if latest_memory%}
        <div class="line"></div>
        <h2>{%trans "Latest memory"%}</h2>
        {%include "diarytrove/subtemplates/memory_preview.html" with memory=latest_memory%}
    {%endif%}
    {%if random_memory%}
        <h2>{%trans "Random memory"%}</h2>
        {%include "diarytrove/subtemplates/memory_preview.html" with memory=random_memory%}
    {%endif%}
</main>

{%include "diarytrove/subtemplates/footer.html"%}
</body>
</html>