{%load static%}
{%load i18n%}

<!DOCTYPE html>
<html>
{%include "diarytrove/subtemplates/head.html"%}

<body>
{%if user.is_authenticated%}
    {%include "diarytrove/subtemplates/header.html" with button_home=True button_logout=True%}
{%else%}
    {%include "diarytrove/subtemplates/header.html" with button_login=True button_signup=True%}
{%endif%}

<main>
    <p id="tagline"><i><b>{%trans '"Because your memories are your most precious data"'%}</b></i></p>
    <br>
    <h2>{%trans "What is DiaryTrove?"%}</h2>
    <p>{%trans "DiaryTrove is a mix between a personal diary and a time capsule."%}</p>
    <p>{%trans "Whenever you feel like so, you can add a new entry, a memory, where you can tell anything you want, pick a mood, a color, and even add images or other medias."%}</p>
    <p>{%trans "This memory will then be locked for a certain amount of time. Once the time comes, the memory will be unlocked, and the future you will be able to rediscover your past memories!"%}</p>
    <p>{%trans "You will also receive an email when memories are unlocked, so if you write memories each week, then after the delay passes you'll receive old memories each week too!"%}</p>
    <p>{%trans "On the website, you can write new memories, browse through them, and even get a random one on your home page!"%}</p>
    <br><br>
    <h3>{%trans "What are you waiting for? Register right now to start saving your precious memories!"%}</h3>
</main>

{%include "diarytrove/subtemplates/footer.html"%}
</body>
</html>