{% load static %}
{% load i18n %}
{%trans "Log in" as subtitle%}

<!DOCTYPE html>
<html>
{%include "diarytrove/subtemplates/head.html"%}

<body>
{%include "diarytrove/subtemplates/header.html" with button_signup=True button_index=True%}

<main>
    {%if error%}<p id="error"><b>{{error}}</b></p><br>{%endif%}
    <form action="{%url 'login'%}" method="post" id="smallform">
        {%csrf_token%}
        <div id="formcontent">
            {{form}}
        </div>
        {%if "next" in request.GET%}<input type="hidden" name="next" value="{{request.GET.next}}">
        {%elif next%}<input type="hidden" name="next" value="{{next}}">{%endif%}
        <input type="submit" value="{%trans 'Log in'%}">
    </form>
</main>

{%include "diarytrove/subtemplates/footer.html"%}
</body>
</html>