{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>DiaryTrove | {%trans "Log in"%}</title>
    <link rel="stylesheet" href="{%static 'diarytrove/css/style.css'%}">
    <link rel="shortcut icon" type="image/png" href="{% static 'diarytrove/assets/favicon.png' %}">
</head>

<body>
    <header>
        <p id="title"><b><a href="{%url 'home'%}">DiaryTrove</a> | {%trans "Log in"%}</b></p>
        <div id="headerfill"></div>
        <div id="buttonrow">
            <a href="{%url 'signup'%}">{%trans "Sign up"%}</a>
            <a href="{%url 'index'%}">{%trans "Back to index"%}</a>
        </div>
    </header>

    <main>
        {%if error%}<p id="error"><b>{{error}}</b></p><br>{%endif%}
        <form action="{%url 'login'%}" method="post" id="smallform">
            {% csrf_token %}
            <div id="formcontent">
                {{form}}
            </div>
            <input type="submit" value="{%trans 'Log in'%}">
        </form>
    </main>

    {%include "diarytrove/footer.html"%}
</body>
</html>