{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>DiaryTrove | {%trans "Preferences"%}</title>
    <link rel="stylesheet" href="{%static 'diarytrove/css/style.css'%}">
    <link rel="shortcut icon" type="image/png" href="{% static 'diarytrove/assets/favicon.png' %}">
</head>

<body>
    <header>
        <p id="title"><b><a href="{%url 'home'%}">DiaryTrove</a> | {%trans "Preferences"%}</b></p>
        <div id="headerfill"></div>
        <div id="buttonrow">
            <a href="{%url 'home'%}">{%trans "Home"%}</a>
        </div>
    </header>

    <main>
        {%if error%}<p id="error"><b>{{error}}</b></p><br>{%endif%}
        <form action="{%url 'preferences'%}" method="post" id="smallform">
            {% csrf_token %}
            <input type="hidden" name="editable" id="editable" value={{editable}}>
            <div id="formcontent">
                {{form}}
            </div>
            <input type="submit" value="{%trans 'Apply preferences'%}">
        </form>
    </main>

    {%include "diarytrove/footer.html"%}
    
    <script src="{% url 'javascript-catalog' %}"></script>
    <script src="{% static 'diarytrove/js/preferences.js' %}"></script>
    <script src="{% static 'diarytrove/js/exitwarn.js' %}"></script>
</body>
</html>