{% load static %}
{% load i18n %}
{%trans "Preferences" as subtitle%}

<!DOCTYPE html>
<html>
{%include "diarytrove/subtemplates/head.html"%}

<body>
{%include "diarytrove/subtemplates/header.html" with button_home=True%}

<main>
    {%if error%}<p id="error"><b>{{error}}</b></p><br>{%endif%}
    <form action="{%url 'preferences'%}" method="post" id="smallform">
        {%csrf_token%}
        <div id="formcontent">
            {{form}}
        </div>
        <input type="submit" value="{%trans 'Apply preferences'%}">
    </form>
</main>

{%include "diarytrove/subtemplates/footer.html"%}

<script src="{% url 'javascript-catalog' %}"></script>
<script type="text/javascript">var editable = {%if editable%}true{%else%}false{%endif%};</script>
<script src="{% static 'diarytrove/js/preferences.js' %}"></script>

<script type="text/javascript">var can_exit = false;</script>
<script src="{% static 'diarytrove/js/exitwarn.js' %}"></script>
</body>
</html>