{% load static %}
{% load i18n %}
{%trans "Sign up" as subtitle%}

<!DOCTYPE html>
<html>
{%include "diarytrove/subtemplates/head.html"%}

<body>
{%include "diarytrove/subtemplates/header.html" with button_login=True button_index=True%}

<main>
    {%if error%}<p id="error"><b>{{error}}</b></p><br>{%endif%}
    <form action="{%url 'signup'%}" method="post" id="smallform">
        {%csrf_token%}
        <div id="formcontent">
            {{form}}
        </div>
        <div id="conditions">
            <label for="accept_conditions"><a href="{%url 'conditions'%}" target="_blank">{% trans "I accept the terms and conditions:" %}</a></label>
            <input type="checkbox" name="accept_conditions" required>
        </div>
        <input type="submit" value="{%trans 'Sign up'%}">
    </form>
    <br>
    <p id="passwordsecurity">Concerned about your password security? <a href="{%url 'passwords'%}" target="_blank">Learn how we securely store them here!</a></p>
</main>

{%include "diarytrove/subtemplates/footer.html"%}

<script type="text/javascript">var can_exit = false;</script>
<script src="{% static 'diarytrove/js/exitwarn.js' %}"></script>
</body>
</html>