{%load static%}
{%load i18n%}
{%language user.profile.language%}

<!DOCTYPE html>
<html>
{%include "diarytrove/emails/head.html"%}

<body>
{%include "diarytrove/emails/header.html"%}

<div id="main">
    <p>
        <b>{%blocktrans with username=user.username days=days pluralize=days|pluralize%}Hi {{username}}, it's been {{days}} day{{pluralize}} since you wrote your last memory!{%endblocktrans%}</b><br><br>
        {%trans "We just wanted to remind you to write a new memory and keep your diary up to date."%}<br>
        {%trans "This way, you'll build up a huge collection of memories for your future self to read back!"%}<br>
        {%trans "Head to your memory creation page to start writing!"%}
        <br><br>
    </p>
    <a href="{{base_url}}{%url 'memory_create'%}" class="buttonlink">
        <b>{%trans "Create a new memory today!"%}</b>
    </a>
</div>

{%include "diarytrove/emails/footer.html"%}
</body>
</html>
{%endlanguage%}